@using BidsManager.Database.Models
@{
    Layout = null;
}
@model UserModel
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Регистрация</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--===============================================================================================-->
    <link rel="icon" type="image/png" href="~/images/icons/favicon.ico" />
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/vendor/bootstrap/css/bootstrap.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/fonts/Linearicons-Free-v1.0.0/icon-font.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/vendor/animate/animate.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/vendor/css-hamburgers/hamburgers.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/vendor/animsition/css/animsition.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/vendor/select2/select2.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/vendor/daterangepicker/daterangepicker.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/css/util.css">
    <link rel="stylesheet" type="text/css" href="~/css/main.css">
    <!--===============================================================================================-->
</head>
<body>

    <div class="limiter">
        <div class="container-login100">
            <div class="wrap-login100 p-t-50 p-b-90">
                <form class="login100-form validate-form flex-sb flex-w" id="form" asp-action="Register" asp-controller="Auth" asp-route-model="@Model" method="post">
                    <span class="login100-form-title p-b-51">
                        Регистрация
                    </span>


                    <div class="wrap-input100 validate-input m-b-16" data-validate="Email обязателен для заполнения">
                        <input class="input100" type="email" id="email_field" required asp-for="Email" placeholder="Email">
                        <span class="focus-input100"></span>
                    </div>


                    <div class="wrap-input100 validate-input m-b-16" data-validate="Пароль обязателен для заполнения">
                        <input class="input100" type="password" required asp-for="Password" placeholder="Пароль">
                        <span class="focus-input100"></span>
                    </div>

                    <div class="contact100-form-checkbox">
                        <input class="input-checkbox100" id="ckb1" type="checkbox" required name="remember-me">
                        <label class="label-checkbox100" for="ckb1">
                            Регистрируясь на сайте, я соглашаюсь с пользовательским соглашением
                        </label>
                    </div>

                    @*<div class="flex-sb-m w-full p-t-3 p-b-24">
            <div>
                <a asp-action="Restore" asp-controller="Home" class="txt1">
                    Восстановить пароль
                </a>
            </div>
        </div>*@

                    <div class="container-login100-form-btn m-t-17">
                        <button id="register_btn" onclick="onFormSubmit()" type="button" class="login100-form-btn">
                            Зарегистрироваться
                        </button>
                        <a class="login100-form-btn" style="margin-top: 10px" asp-action="Login" asp-controller="Home">
                            <button>
                                Назад
                            </button>
                        </a>
                    </div>

                    <span class="login100-form-title p-b-51" style="color: red; font-size: 13px; margin-top: 12px" id="validation_error">
                        
                    </span>
                </form>
            </div>
        </div>
    </div>


    <div id="dropDownSelect1"></div>

    <!--===============================================================================================-->
    <script src="~/vendor/jquery/jquery-3.2.1.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/vendor/animsition/js/animsition.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/vendor/bootstrap/js/popper.js"></script>
    <script src="~/vendor/bootstrap/js/bootstrap.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/vendor/select2/select2.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/vendor/daterangepicker/moment.min.js"></script>
    <script src="~/vendor/daterangepicker/daterangepicker.js"></script>
    <!--===============================================================================================-->
    <script src="~/vendor/countdowntime/countdowntime.js"></script>
    <!--===============================================================================================-->
    <script src="~/js/login.js"></script>

    <script>

        async function onFormSubmit() {
            let email = document.getElementById('email_field').value;
            let validation_error = document.getElementById('validation_error');

            await fetch('/CheckUser?login=' + email)
                .then((response) => {
                    return response.json();
                })
                .then(async (data) => {
                    console.log(data);
                    if (data == 403) {
                        validation_error.innerHTML = 'Пользователь с таким email уже существует';
                    }
                    else {
                        document.getElementById('form').submit();
                     }
                });
        }
    </script>

</body>
</html>